<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>VS Light</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="229,235,255" />
                <SvgColor Name="Paint High" Value="252,252,252" />
                <SvgColor Name="Paint Shadow" Value="217,224,248" />
                <SvgColor Name="Paint Deep Shadow" Value="204,210,235" />
                <SvgColor Name="Brush" Value="30,30,30" />
                <SvgColor Name="Brush Light" Value="113,113,113" />
                <SvgColor Name="Brush High" Value="30,30,30" />
                <SvgColor Name="Brush Major" Value="189,196,209" />
                <SvgColor Name="Brush Minor" Value="189,196,209" />
                <SvgColor Name="Accent Paint" Value="62,82,123" />
                <SvgColor Name="Accent Paint Light" Value="ActiveCaption" />
                <SvgColor Name="Accent Brush" Value="White" />
                <SvgColor Name="Accent Brush Light" Value="160,172,210" />
                <SvgColor Name="Key Paint" Value="93,107,153" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="160,172,210" />
                <SvgColor Name="Red" Value="157,36,12" />
                <SvgColor Name="Green" Value="54,134,50" />
                <SvgColor Name="Blue" Value="0,80,152" />
                <SvgColor Name="Yellow" Value="221,183,125" />
                <SvgColor Name="Black" Value="64,64,64" />
                <SvgColor Name="Gray" Value="195,195,198" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="157,36,12" />
                <SvgColor Name="altGreen" Value="54,134,50" />
                <SvgColor Name="altBlue" Value="0,80,152" />
                <SvgColor Name="altYellow" Value="221,183,125" />
                <SvgColor Name="altBlack" Value="64,64,64" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="245,245,245" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="238,238,242" />
                <SvgColor Name="Paint Deep Shadow" Value="223,223,227" />
                <SvgColor Name="Brush" Value="68,68,68" />
                <SvgColor Name="Brush Light" Value="148,148,150" />
                <SvgColor Name="Brush High" Value="30,30,30" />
                <SvgColor Name="Brush Major" Value="204,206,219" />
                <SvgColor Name="Brush Minor" Value="204,206,219" />
                <SvgColor Name="Accent Paint" Value="0,122,204" />
                <SvgColor Name="Accent Paint Light" Value="201,222,245" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="89,168,222" />
                <SvgColor Name="Key Paint" Value="204,206,219" />
                <SvgColor Name="Key Brush" Value="68,68,68" />
                <SvgColor Name="Key Brush Light" Value="148,148,150" />
                <SvgColor Name="Red" Value="157,36,12" />
                <SvgColor Name="Green" Value="54,134,50" />
                <SvgColor Name="Blue" Value="0,80,152" />
                <SvgColor Name="Yellow" Value="189,120,25" />
                <SvgColor Name="Black" Value="64,64,64" />
                <SvgColor Name="Gray" Value="195,195,198" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="157,36,12" />
                <SvgColor Name="altGreen" Value="54,134,50" />
                <SvgColor Name="altBlue" Value="0,80,152" />
                <SvgColor Name="altYellow" Value="189,120,25" />
                <SvgColor Name="altBlack" Value="64,64,64" />
                <SvgColor Name="altWhite" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>